@charset "UTF-8";
:root {
    --color01: #B2DFFC;
    --color02: lightgray;
    --color03: #425F9D;
    --color04: #4A95F6;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/* ------------------------------------- */
#container01 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container01 > img {
    width: 150px;
    margin-bottom: 50px;
}
/* ------------------------------------ */
#container01 > form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container01 > form > input {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--color02);
    border-radius: 3px;
}
#container01 > form > input[type="submit"] {
    background-color: var(--color01);
    border: 1px solid var(--color02);
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    margin-top: 10px;
}
/* ------------------------------------ */
#container01 > #linha {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container01 > #linha > hr, p {
    color: var(--color02);
}
#container01 > #linha > hr {
    width: 100%;
}
#container01 > #linha > p {
    margin: 10px;
}
/* ------------------------------------ */
#container01 > #fb {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container01 > #fb > img {
    width: 20px;
    border-radius: 2px;
}
#container01 > #fb > a {
    text-decoration: none;
    margin-left: 10px;
    color: var(--color03);
    font-weight: bolder;
}
/* ----------------------------------- */
#container01 > #esqueceuSenha {
    margin-top: 20px;
}
#container01 > #esqueceuSenha > a {
    text-decoration: none;
}
/* =================================== */
#container02 {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container02 > p {
    color: black;
}
#container02 > a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    color: var(--color04);
}
/* ================================= */
#container03 {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container03 > p {
    color: black;
    margin-bottom: 10px;
}
#container03 > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container03 > div img {
    width: 95%; 
}
/* ================================= */
#container04 {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#container04 > a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}
/* =================================== */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > a {
    text-decoration: none;
    color: darkgray;
    padding-bottom: 50px;
}